@media screen and (max-width: 425px){
    header .right-header{
        .name{
            font-size: 1.5rem !important;
        }

        p{
            font-size: .8rem;
        }
    }

     // about me
     .about-container{
        flex-direction: column;
        padding: 0;
        gap: 0;
        .left-about{
            h4{
                margin-bottom: .5rem;
                font-size: 1.2rem;
            }
            p{
                text-align: left;
                font-size: .6rem !important;
            }
        }

        .right-about{
            grid-gap: 1rem;
        }
    }

    .stat-title{
        padding: 2rem 0;
        font-size: 1.2rem;
    }

    .about-stats{
        .skills{
            grid-template-columns: 1fr !important;
            padding: 0;
            grid-gap: 1rem;
        }
    }

    .timeline{
        padding: 0;
        .timeline-item h5 {
            font-size: .7rem;
            font-weight: 300;
            span{
                font-size: .7rem;
            }
        }

        .timeline-item ul li{
            font-size: .7rem;
        }
    }

    // Portfolio section
    .portfolios{
        padding: 0;
    }

    // Blogs section
    .blogs{
        padding: 0;
    }

    // contact me
    .contact-container{
        
        .contact-content-cont{
            padding: 0;
            padding-top: .5rem;
            .left-contact{
                h4{
                    font-size: 1rem;
                    margin-top: 0;
                }
                p{
                    font-size: .7rem;
                }
                .contact-icon{
                    justify-content: center;
                }
                .contact-info{
                    font-size: .8rem;
                    .contact-item{
                        .icon{
                            i{
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }

            .right-contact{
                width: 100%;
                margin-top: 1.5rem;
                .input-control input, .input-control textarea{
                    font-size: .7rem;
                    border-radius: 5px;
                }

                .submit-btn{
                    margin-bottom: 100px;
                }
            }
        }
    }

    // independent components
    // controls
    .controls{
        .control{
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1rem !important;
            }
        }
    }

    // main title
    .main-title{
        margin-top: 0;
        h2{
            font-size: 1.5rem !important;
            span{
                font-size: 1.5rem !important;
            }
            .bg-text{
                display: none;
            }
        }
    }

    .theme-btn{
        width: 30px !important;
        height: 30px !important; 
    }

    // download cv button
    .btn-container{
        height: 2.5rem;
        .main-btn{
            height: 100%;
            .btn-icon{
                height: 100%;
                padding: 0.7rem;
            }
            .btn-text{
                font-size: .7rem;
            }
        }
       
    }

    // submit button
    .submit-btn{
        height: 2.5rem;
        .main-btn{
            height: 100%;
            .btn-icon{
                height: 100%;
                padding: 0.7rem;
            }
            .btn-text{
                font-size: .7rem;
            }
        }
    }
}


@media screen and (max-width: 600px){
    header{
        padding: 0;
    }

    header .right-header{
        padding: 0 !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px; 
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .main-title{
        h2{
            font-size: 1.5rem;
            span{
                font-size: 1.5rem;
            }
            .bg-text{
                font-size: 1.8rem;
            }
        }
    }

    .about-container{
        grid-template-columns: fr;
        padding-top: 2rem;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }

        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .section{
        padding: 2rem 2.5rem;
    }

    // about stats
    .about-stats{
        .skills{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // portfolio
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    // blogs
    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    // contacts
    .contact-content-cont{
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 6rem;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-cont .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-cont .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    header{
        padding: 0;
    }

    header .right-header{
        padding: 0 !important;
    }

    .theme-btn{
        width: 50px;
        height: 50px; 
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }

    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2rem !important;
        }

        p{
            font-size: 1.5rem;
        }
    }

    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .main-title{
        h2{
            font-size: 2.5rem;
            span .bg-text{
                font-size: 1rem !important;
            }
        }
    }

    // about me
    .about-container{
        flex-direction: column;
        padding: 0;
        padding-top: 2rem;
        .right-about{
            width: 100%;
            grid-template-columns: 1fr 1fr;
            padding-top: 2.5rem;
        }

        .left-about{
            width: 100%;
            padding-right: 0;
            p{
                padding-left: 0;
                font-size: 1rem;
                line-height: 1.3rem;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;

        .timeline-item{
            ul{
                li{
                    font-size: 1rem;
                }
            }
        }
    }

    .section{
        padding: 2rem 2.5rem;
    }

    // about stats
    .about-stats{
        .skills{
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
        }
    }

    // timeline
    .timeline{
        padding: 0;
    }

    // portfolio
    .portfolios{
        margin: 0 auto;
        padding: 0;
        padding-bottom: 6rem;
    }

    // blogs
    .blogs{
        padding: 0;
        padding-bottom: 6rem;
    }

    // contacts
    .contact-content-cont{
        flex-direction: column;
        padding: 2rem 5rem;
        padding-bottom: 6rem;
        .right-contact{
            width: 100%;
            padding: 0;
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-cont .right-contact .i-c-2{
        flex-direction: column;
    }

    .contact-content-cont .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }

    .btn-container{
        height: 2rem;
        .main-btn{
            height: 100%;
            .btn-icon{
                height: 100%;
                padding: 0.7rem;
            }
            .btn-text{
                font-size: .7rem;
            }
        }
       
    }
}

@media screen and (min-width:801px) and (max-width: 1024px){
    .right-header{
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 1.7rem !important;
        }

        p{
            font-size: 1rem;
        }
    }

     // about me
     .about-container{
        width: 100%;
        margin: 0 auto;
        padding: 3rem;
        grid-template-columns: 1fr;
        padding-top: 2rem;
        .right-about{
            grid-template-columns: 1fr 1fr;
            padding-top: 2.5rem;
        }

        .left-about{
            padding-right: 0;
            width: 40%;
            p{
                padding-left: 0;
                font-size: 1rem;
                line-height: 1.3rem;
            }
        }
    }

    .about-stats{
        .skills{
            padding: 0 5rem;
        }
    }

    .timeline{
        padding: 0 5rem;
    }

    .portfolios{
        padding: 2rem 5rem;
    }

    .blogs{
        padding: 2rem 5rem;
    }

    .contact-content-cont{
        padding: 2rem 5rem;
    }

    // download cv button
    .btn-container{
        height: 2rem;
        .main-btn{
            height: 100%;
            .btn-icon{
                height: 100%;
                padding: 0.7rem;
            }
            .btn-text{
                font-size: .7rem;
            }
        }
       
    }



}

@media screen and (max-width: 1070px) {
    .about-container{
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 5rem;
            }
        }
    }
}